@{
    ViewBag.Title = "Home Page";
    var sessionWrapper = new HttpSessionStateWrapper(HttpContext.Current.Session);
}

<div class="row alert alert-warning" style="margin: 10%">
    <div>Do not track value is @sessionWrapper["DoNotTrack"]</div>
</div>