@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Home Page";
}

<div class="row alert alert-warning" style="margin: 10%">
    @{
        var cookie = Request.Cookies["SampleTrackingCookie"];
        if (cookie != null)
        {
            <div>Do not Track Status: @cookie["DoNotTrack"]</div>
        }
    }
</div>